<div class="d-flex justify-content-center align-items-center home-container">
  <%= link_to 'Monthly calendar', monthly_path, class: 'btn btn-primary mx-2' %>
  <%= link_to 'Weekly calendar', weekly_path, class: 'btn btn-primary mx-2' %>
</div>


